.container1{
    margin: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .container2{
    margin: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  .imagen1{
    width: 400px;
    height: 400px;
  }
  
  .imagen2{
    width: 500px;
    height: 400px;
  }
  
  .imagen3{
    width: 700px;
    height: 400px;
  }
  
